{
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": false,
    "bracketSpacing": true,
    "printWidth": 120,
    "endOfLine": "crlf",
    "arrowParens": "always",
    "trailingComma": "none"
}
