{
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "bracketSpacing": true,
    "printWidth": 100,
    "endOfLine": "lf",
    "arrowParens": "always",
    "trailingComma": "es5",
    "overrides": [
        {
            "files": "*.cs",
            "options": {
                "tabWidth": 4,
                "useTabs": true,
                "semi": true,
                "singleQuote": false
            }
        }
    ]
}
