<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Daniël van Ginneken</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="measurements">
                <span class="bi bi-file-earmark-bar-graph" aria-hidden="true"></span> Measurements
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="opladen-ev">
                <span class="bi bi-ev-station" aria-hidden="true"></span> Opladen EV
            </NavLink>
        </div>
    </nav>
</div>
