@page "/"


<PageTitle>Home</PageTitle>

<h1>Welkom bij Smart Energy Analytics</h1>

<p>Optimaliseer je energieverbruik en bespaar kosten met ons innovatieve energie-analyseplatform.
  Smart Energy Analytics helpt je om inzicht te krijgen in je energiegebruik, trends te ontdekken
  en slimmere beslissingen te nemen voor een duurzamer huishouden of bedrijf. Met gedetailleerde
  rapportages en real-time data monitor je eenvoudig je verbruik en bespaar je op energie.
</p>

<button type="button" class="btn btn-primary"><a style="color: black; text-decoration: none;" href="/opladen-ev">Ga naar mijn uitwerking</a></button>