@page "/varianten"

<PageTitle>Home</PageTitle>

<h1>Welkom bij mijn gemaakte varianten</h1>

Dit zijn alle varianten die ik heb gemaakt. Navigeer naar <a href="/">Home</a> om
de gekozen variant te bekijken. 
