<footer class="bg-black text-secondary pt-5 pb-3 mt-5">
  <div class="container">
    {{!-- <a href="/" class="text-decoration-none">
      <h1 class="h4 text-light mb-0">
        <i class="bi bi-film me-2"></i> Eject!
      </h1>
    </a>
    <hr class="border-secondary my-4"> --}}

    <p class="small text-secondary">© 2025 Eject!, All Rights Reserved</p>
  </div>
</footer>