<footer class="bg-black text-secondary pt-5 pb-3 mt-5">
  <div class="container">
    <div class="mb-4">
      <a href="#" class="me-3 text-secondary"><i class="bi bi-facebook"></i></a>
      <a href="#" class="me-3 text-secondary"><i class="bi bi-instagram"></i></a>
      <a href="#" class="me-3 text-secondary"><i class="bi bi-twitter-x"></i></a>
      <a href="#" class="text-secondary"><i class="bi bi-youtube"></i></a>
    </div>

    <div class="row row-cols-2 row-cols-md-4 g-3">
      <div class="col">
        <ul class="list-unstyled">
          <li><a href="#" class="text-secondary text-decoration-none">Audio & Subtitles</a></li>
          <li><a href="#" class="text-secondary text-decoration-none">Media Center</a></li>
          <li><a href="#" class="text-secondary text-decoration-none">Privacy</a></li>
          <li><a href="#" class="text-secondary text-decoration-none">Contact Us</a></li>
        </ul>
      </div>
      <div class="col">
        <ul class="list-unstyled">
          <li><a href="#" class="text-secondary text-decoration-none">Help Center</a></li>
          <li><a href="#" class="text-secondary text-decoration-none">Jobs</a></li>
          <li><a href="#" class="text-secondary text-decoration-none">Cookie Preferences</a></li>
        </ul>
      </div>
      <div class="col">
        <ul class="list-unstyled">
          <li><a href="#" class="text-secondary text-decoration-none">Gift Cards</a></li>
          <li><a href="#" class="text-secondary text-decoration-none">Terms of Use</a></li>
          <li><a href="#" class="text-secondary text-decoration-none">Corporate Info</a></li>
        </ul>
      </div>
      <div class="col">
        <ul class="list-unstyled">
          <li><a href="#" class="text-secondary text-decoration-none">Investor Relations</a></li>
          <li><a href="#" class="text-secondary text-decoration-none">Legal Notices</a></li>
        </ul>
      </div>
    </div>

    <div class="my-4">
      <button class="btn btn-outline-secondary btn-sm">Service Code</button>
    </div>

    <p class="small text-secondary">© 2025 Eject!, All Rights Reserved</p>
  </div>
</footer>